.partner {

    margin: 2rem 0;

    &-title {
        margin-top: 2rem;
    }
    &-logo {
        min-height: 4rem;
        display: block;
    }
}

.separator-vertical {
    position: absolute;
    border: 2px solid $gray;
    height: 40%;
    width: 0;
    top: 20%;
    left: -2px;
}

.svidetelstvo {
    p {
        font-size: 1rem;
    }
    img {
        margin-bottom: 2rem;
    }
}